
.dashboard-body{
    border: dashed;
    min-height: 100vh;
    display: flex;
}

#organization-job-list{
    position: absolute;
    left: 200px;
    right: 0;
    height: 100%;
    background-color: #e6f5f1;
    padding-top: 80px;

}
.job-list-wrapper .tab-wrapper-x{
    display: flex;
    align-items: center;
    
}
.job-list-wrapper .tab-wrapper-x .job-type{
    margin-right: 5px;
    padding: 4px 8px;
}
